<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button routerLink="/solutions">Solutions</button>
      <button mat-button routerLink="/games">Games</button>
      <button mat-button routerLink="/pricing">Pricing</button>
      <button mat-button routerLink="/resources">Resources</button>
      <button mat-button routerLink="/company">Company</button>
      <span class="example-spacer"></span>
      <button mat-button routerLink="/sign-in">Sign In</button>
      <button mat-stroked-button color="accent">Free Sign Up</button>
    </mat-toolbar-row>
  </mat-toolbar>